body {
    background-image: url(white_brick_wall_@2X.png);
    font-family: 'Kumar One', cursive;
}

#main-content {
    color:black;
}
#title {
    text-align: left;
	margin-top: 20px;
    margin-bottom: 30px;
    margin-left: 200px;
    margin-right: 200px;
    padding-bottom: 10px;
    padding-top: 10px;
    font-size: 50px;
    text-decoration-line: underline;
}
#instructions{
    width: 80%;
    
}
#text {
    box-sizing: content-box;
    width: 40%;
    float: left;
    text-align: left;
    margin-left: 200px;
    line-height: 120%;
    font-size: 20px;
}
#cards {
    float: right;
}
#general-display {
    box-sizing: content-box;
    width: 50%;
    margin-left: 300px;
    line-height: 200%;
    font-size: 22px;
}
